<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/myproject?useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>
        <mapping class="com.it.model.User"></mapping>
        <mapping class="com.it.model.Client"></mapping>
        <mapping class="com.it.model.Roles"></mapping>
        <mapping class="com.it.model.Section"></mapping>
        <mapping class="com.it.model.Trainer"></mapping>
        <mapping class="com.it.model.TrainingTypes"></mapping>
        <mapping class="com.it.model.Time"></mapping>
        <mapping class="com.it.model.Gym"></mapping>
        <mapping class="com.it.model.Day"></mapping>
        <mapping class="com.it.model.DateTime"></mapping>
    </session-factory>
</hibernate-configuration>